/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* #region COMMON and Utilities */
body {
    font-family: 'Open Sans', sans-serif;
}

:root {
    --bg-dropox-blueprincipal: #0061ff;
    --bg-dropox-bluesecondary: #b4d0e7;
    --bg-dropox-greendesignit: #a2d39b;
    --bg-dropox-bordeauxasu: #61082b;
    --bg-dropox-blueuf: #0093ce;
    --bg-dropox-redtopps: #ff1c1c;
    --bg-dropox-darkredwbicycle: #d5001f;
    --bg-dropox-darkbluelonelyplanet: #0d2481;
    --bg-dropox-yellowclearchannelout: #ffd830;
}

.d-flex {
    display: flex;
}

.container-big {
    width: 70%;
    margin: auto;
}

.container-small {
    width: 60%;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.col-2 {
    width: calc(100% / 12 * 2);
}

.col-4 {
    width: calc(100% / 12 * 4);
}

.col-6 {
    width: calc(100% / 12 * 6);
}

.col-8 {
    width: calc(100% / 12 * 8);
}

.col-12 {
    width: calc(100% / 12 * 12);
}

/* #endregion COMMON and Utilities */

/* #region HEADER */
#hd-top-left,
#hd-top-right {
    width: 50%;
    height: 3rem;
}

#hd-top-right {
    text-align: right;
}

#header-bottom {
    background-color: var(--bg-dropox-bluesecondary);
}

#jumbotron {
    height: 600px;
}


/* #region DEBUG HEADER */
.debug #hd-top-left {
    background-color: #ffd830;

}

.debug #hd-top-right {
    background-color: red;
}

.debug #jumbotron {
    background-color: #a2d39b;
}

/* #endregion DEBUG HEADER */
/* #endregion HEADER */

/* #region MAIN */
.debug #plane {
    background-color: aqua;
}

/* #plane section */

.debug #plane .container-small {
    background-color: greenyellow;
}

.debug #plane .container-small .row {
    background-color: #b4d0e7;
}

.debug #plane .container-small .row .col-4 {
    background-color: #61082b;
    border: 2px dashed white;
    height: 700px;
}

.debug #plane .container-small .col-12 {
    height: 100px;
    background-color: #61082b;
    margin-top: 0.5rem;
    padding-bottom: 2rem;
}

/* #get-in-touch section */

.debug #get-in-touch {
    background-color: antiquewhite;
}

.debug #get-in-touch .container-small .row {
    background-color: cornflowerblue;
}

.debug #get-in-touch .container-small .col-8 {
    background-color: #ff1c1c;
    height: 500px;
    margin: 0.5rem 0;
    border: 2px dashed white;
}

.debug #get-in-touch .container-small .col-4 {
    background-color: #a2d39b;
    margin: 0.5rem 0;
    border: 2px dashed white;
}

/* #more-operation section */
.debug #more-operation {
    background-color: #61082b;
}

.debug #more-operation h1 {
    background-color: #ffd830;
}

.debug #more-operation .col-4 {
    background-color: #a2d39b;
    height: 400px;
    border: 2px dashed sandybrown;
    margin: 0.5rem 0;
}

/* #team section */
.debug #team {
    background-color: #a2d39b;
}

.debug #team h2 {
    background-color: #0093ce;
    height: 300px;
}

/* #review section */
.debug #review {
    background-color: var(--bg-dropox-redtopps);
}

.debug #review .col-4:first-child {
    background-color: #0d2481;
}

.debug #review .col-4:last-child {
    height: 300px;
    background-color: #0d2481;
}

.debug #review .col-6 {
    height: 150px;
    border: 2px dashed white;
}

/* #dropbox-business section */
.debug #dropbox-business{
    background-color: var(--bg-dropox-bluesecondary);
}

.debug #dropbox-business h2{
    background-color: var(--bg-dropox-bordeauxasu);
    height: 300px;
}

/* #faq section */
.debug #faq{
    background-color: #a2d39b;
}

.debug #faq h2{
    background-color: #ffd830;
    height: 400px;
}
/* #endregion MAIN */

/* #region FOOTER */

/* #footer-top section */
.debug #app-footer {
    background-color: #0d2481;
}

.debug #app-footer #footer-top .col-2 {
    background-color: chocolate;
    height: 300px;
    border: 2px dashed wheat;
}
/* #footer-bottom section */
.debug #app-footer #footer-bottom h3{
    height: 150px;
    background-color: #61082b;
}

/* #endregion FOOTER */
