/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* #region COMMON and Utilities */
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

:root {
    --bg-dropox-blueprincipal: #0061ff;
    --bg-dropox-bluesecondary: #b4d0e7;
    --bg-dropox-greendesignit: #a2d39b;
    --bg-dropox-bordeauxasu: #61082b;
    --bg-dropox-blueuf: #0093ce;
    --bg-dropox-redtopps: #ff1c1c;
    --bg-dropox-darkredwbicycle: #d5001f;
    --bg-dropox-darkbluelonelyplanet: #0d2481;
    --bg-dropox-yellowclearchannelout: #ffd830;
}

.d-flex {
    display: flex;
}

ul {
    list-style: none;
}

.container-big {
    width: 70%;
    margin: auto;
}

.container-small {
    width: 60%;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.col-2 {
    width: calc(100% / 12 * 2);
}

.col-3 {
    width: calc(100% / 12 * 3);
}

.col-4 {
    width: calc(100% / 12 * 4);
}

.col-6 {
    width: calc(100% / 12 * 6);
}

.col-8 {
    width: calc(100% / 12 * 8);
}

.col-12 {
    width: calc(100% / 12 * 12);
}

.btn-blue {
    background-color: var(--bg-dropox-blueprincipal);
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
}

/* #endregion COMMON and Utilities */

/* #region HEADER */
/* header TOP */
#header-top {
    background-color: white;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1000;
}

#header-top-left,
#header-top-right {
    width: 50%;
    align-items: center;
    padding: 1rem;
}

#header-top-left img {
    height: 20px;
}

#header-top-left li,
#header-top-right li {
    padding: 0.25rem 1rem;
}

#header-top-left a,
#header-top-right a {
    color: black;
    text-decoration: none;
}

#header-top-right ul {
    justify-content: end;
}

#header-top-right #begin a {
    color: white;
}

/* header BOTTOM */
#header-bottom {
    background-color: var(--bg-dropox-bluesecondary);
}

#jumbotron {
    height: 600px;
}

#jumbotron h1 {
    font-size: 65px;
    padding: 6rem 2rem 0 0;
}

#jumbotron p {
    padding: 2rem 0;
    line-height: 1.25rem;
}

#jumbotron i {
    color: black;
}

#jumbotron .col-8 {
    position: relative;
    top: 0;
    left: 0;
}

#jumbotron .col-8 img {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

/* #region DEBUG HEADER */
/*  .debug #header-top-left {
    background-color: #ffd830;
}

 .debug #header-top-right {
    background-color: red;
}

 .debug #jumbotron {
    background-color: #a2d39b;
} */

/* #endregion DEBUG HEADER */
/* #endregion HEADER */

/* #region MAIN */
/* #plane section */

#plane {
    padding: 8rem 0 0 0;
}

#plane h2 {
    font-size: 28px;
}

#plane #bill {
    margin: 3rem 0 2rem 0;
}

#plane #month-bill {
    margin-right: 3rem;
}

/* .debug #plane {
    background-color: aqua;
} */

/* .debug #plane .container-small .row {
    background-color: #b4d0e7;
} */

/* .debug #plane .container-small .row .col-4 {
    background-color: #61082b;
    border: 2px dashed black;
} */

#plane .container-small .row .col-4 {
    padding: 1rem;
}

#plane .card-top {
    border: 1px solid lightgrey;
    border-bottom: none;
    text-align: center;
    padding: 0.5rem;
}

#plane .card-content {
    border: 1px solid lightgrey;
}

#plane .card-content-title {
    padding: 2rem 1rem;
}

#plane .card-content-title h3 {
    font-size: 25px;
    margin-bottom: 1rem;
}

#plane .card-content-title span,
#plane .card-content-plane span,
#plane .card-recap span {
    display: block;
}

#plane .card-content-title .price-plane {
    font-weight: bold;
}

#plane .card-content-title :last-child {
    color: grey;
}

#plane .card-content-plane {
    padding: 1rem;
}

#plane .card-content-plane a.btn-blue {
    display: block;
    margin: 2rem 0;
}

#plane .card-content-plane a.buy-now {
    color: var(--bg-dropox-blueprincipal);
}

#plane .card-content-plane hr {
    width: 30%;
    margin-top: 3rem;
}

#plane .card-recap {
    padding: 2rem 1rem;
}

#plane .card-recap i {
    color: var(--bg-dropox-blueprincipal);
}

#plane .card-recap h4 {
    margin-bottom: 1rem;
}

/* .debug #plane .container-small .col-12 {
    height: 100px;
    background-color: #61082b;
    margin-top: 0.5rem;
    padding-bottom: 2rem;
} */

#plane .col-12 .content-col12 {
    border: 1px solid lightgrey;
}

#plane .col-12 .left,
#plane .col-12 .right {
    width: 50%;
}

#plane .col-12 .right {
    text-align: end;
    padding: 2rem 1rem;
}

#plane .col-12 .price-plane {
    color: black;
}

#plane .col-12 .right a {
    display: inline-block;
}

#plane .col-12 .content-col12>p {
    padding: 0rem 0rem 2rem 1rem;
}

/* #get-in-touch section */

/* .debug #get-in-touch {
    background-color: antiquewhite;
} */

/* .debug #get-in-touch .container-small .row {
    background-color: cornflowerblue;
} */

/* .debug #get-in-touch .container-small .col-8 {
    background-color: #ff1c1c;
    height: 500px;
    margin: 0.5rem 0;
    border: 2px dashed white;
} */

/* .debug #get-in-touch .container-small .col-4 {
    background-color: #a2d39b;
    margin: 0.5rem 0;
    border: 2px dashed white;
} */

#get-in-touch {
    padding: 6rem 0;
}

#get-in-touch .col-8 img {
    width: 100%;
    padding: 1rem;
}

#get-in-touch .col-4 {
    padding: 2rem 1rem;
}

#get-in-touch .col-4 h3 {
    font-size: 25px;
    margin-bottom: 1rem;
}

#get-in-touch .col-4 button {
    margin-top: 1rem;
    padding: 0.5rem;
    border: 1px solid black;
    background-color: white;
}

/* #more-operation section */
/* .debug #more-operation {
    background-color: #61082b;
} */

/* .debug #more-operation h2 {
    background-color: #ffd830;
} */

/* .debug #more-operation .col-4 {
    background-color: #a2d39b;
    height: 450px;
    border: 2px dashed sandybrown;
    margin: 0.5rem 0;
}
 */

#more-operation h2 {
    margin-bottom: 2rem;
}

#more-operation .col-4 {
    padding: 1rem;
}

#more-operation .col-4 img {
    width: 100%;
}

#more-operation .col-4 h4 {
    font-size: 18px;
    margin-bottom: 1rem;
}


/* #team section */
/* .debug #team {
    background-color: #a2d39b;
} */

/* .debug #team h2 {
    background-color: #0093ce;
    height: 300px;
} */

#team .col-6 {
    padding: 8rem 0;
}

#team .col-6 h2 {
    font-size: 24px;
    margin-bottom: 2rem;
}

#team .col-6 a {
    color: var(--bg-dropox-blueprincipal);
}

/* #review section */
/* .debug #review {
    background-color: var(--bg-dropox-redtopps);
} */

/* .debug #review .col-4:first-child {
    background-color: #0d2481;
} */

#brands .col-6 {
    aspect-ratio: 1;
}

#brands img {
    width: 100%;
    padding: 4rem;
    align-self: center;
}

#brands #designit {
    background-color: var(--bg-dropox-greendesignit);
    border: 1rem solid lightgray;
}

#brands #designit img {
    padding: 3rem;
}

#brands #arizona-uni {
    background-color: var(--bg-dropox-bordeauxasu);
}

#brands #arizona-uni img {
    fill: white;
    color: white;
}

#brands #florida-uni {
    background-color: var(--bg-dropox-blueuf);
}

#brands #topps {
    background-color: var(--bg-dropox-redtopps);
}

#brands #bicycle {
    background-color: var(--bg-dropox-darkredwbicycle);
}

#brands #hearst-corp {
    background-color: var(--bg-dropox-bluesecondary);
}

#brands #lonely-planet {
    background-color: var(--bg-dropox-darkbluelonelyplanet);
}

#brands #clear-channel {
    background-color: var(--bg-dropox-yellowclearchannelout);
}

#brands-middle {
    background-color: #f5f5f5;
}

#brands-middle img {
    width: 300px;
    padding-left: 2rem;
    padding-bottom: 2rem;
}

#brands-middle hr {
    width: 20%;
    color: lightgrey;
    margin: 0 2rem 2rem 2rem;
}

#brands-middle p {
    padding: 0 2rem 2rem 2rem
}


/* .debug #brands .col-4:last-child {
    height: 300px;
    background-color: #0d2481;
} */

/* .debug #review .col-6 {
    height: 150px;
    border: 2px dashed white;
} */

/* #dropbox-business section */
.debug #dropbox-business {
    background-color: var(--bg-dropox-bluesecondary);
}

.debug #dropbox-business h2 {
    background-color: var(--bg-dropox-bordeauxasu);
    height: 300px;
}

/* #faq section */
.debug #faq {
    background-color: #a2d39b;
}

.debug #faq h2 {
    background-color: #ffd830;
    height: 400px;
}

/* #endregion MAIN */

/* #region FOOTER */

/* #footer-top section */
.debug #app-footer {
    background-color: #0d2481;
}

.debug #app-footer .col-2 {
    background-color: chocolate;
    height: 300px;
    border: 2px dashed wheat;
}

/* #footer-bottom section */
.debug #app-footer h3 {
    height: 150px;
    background-color: #61082b;
}

/* #endregion FOOTER */